.container {
  /*padding: 1rem;*/
  /*overflow: hidden;*/
}

.table {
  border-radius: 3px;
  display: block;
  white-space: nowrap;
  border-collapse: collapse;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  position: relative;
  max-height: 50vh;
  overflow-x: scroll;
}

.table th,
.table td,
.table tr {
  border-collapse: collapse;
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
}

.thead {
  border-collapse: collapse;
  border: 1px solid #bbb;
}

.thead tr {
  position: sticky;
  top: -1px;
  background: #ccc;
}
